#!/bin/sh

alias ls="/bin/ls --color=auto -hl"
alias l="exa -l --icons"
alias la="exa -al --icons"

alias clear="tput reset"
alias cls="clear && neofetch"

alias mkdir="mkdir -p"
alias grep="grep --color=auto"
alias rm="rm -I"
alias fucking="sudo"

alias cya="/bin/rm -rf $HOME/tmp/*; /bin/rm -rf $HOME/tmp/.*; shutdown now"
alias bruh="cya"
alias remove_orphans="fucking pacman -R \$(pacman -Qtdq)"

alias ..="cd .."
alias .2="cd ../.."
alias .3="cd ../../.."
alias .4="cd ../../../.."
alias .5="cd ../../../../.."

alias vi="/bin/vim"
alias vim="/usr/local/bin/nvim"
alias nvim="/usr/local/bin/nvim --clean"
alias lg="lazygit"
alias dev="source $HOME/.local/bin/scripts/dev.sh"
alias g="git"
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gca="git commit -a"
alias gcam="git commit -am"
alias gb="git branch"
alias gw="git worktree"
alias gp="git pull"
alias gd="git diff"
alias gl="git log"
alias cn="cargo new"
alias cb="cargo build"
alias cbr="cargo build --release"
alias cr="cargo run"
alias crr="cargo run --release"
alias cnb="cargo new balls && cd balls"
alias ca="cargo add"

ct() {
	cargo test $@ -- --nocapture
}

ctt() {
	RUST_LOG=TRACE cargo test --all-features $@ -- --nocapture
}

ctd() {
	RUST_LOG=DEBUG cargo test --all-features $@ -- --nocapture
}

cti() {
	RUST_LOG=INFO cargo test --all-features $@ -- --nocapture
}

ctw() {
	RUST_LOG=WARN cargo test --all-features $@ -- --nocapture
}

cte() {
	RUST_LOG=ERROR cargo test --all-features $@ -- --nocapture
}

alias ssh:schnose="ssh max@schnose"
alias ssh:schnose_google="ssh alpha@schnose_google"

alias leonie:start="sudo virsh start leonie"
alias leonie:stop="sudo virsh shutdown leonie"
alias leonie:status="sudo virsh domstate leonie"
alias leonie:connect="ssh leonie"

alias pack="tar -czvf"
alias analyze_disk="ncdu"
alias lc="tokei"

replace_last_character_of_file() {
	sed -i "\$ s/.\$/$2/" $1
}

merge_json_arrays() {
	jq -s add $1 $2 | jq "unique" -c
}

ts-init() {
	npm init -y
	npm i -D typescript ts-node
	cp $HOME/.config/tsconfig.json ./
	mkdir src dist
	touch src/main.ts
}

airplay() {
	sudo avahi-daemon &
	uxplay
}
