.config/bash/history
.config/btop/btop.log
.config/discover_overlay/discover_overlay.pid
.config/obs-studio/basic/profiles/Stream/service.json
.config/obs-studio/logs
.config/obs-studio/plugin_config
.config/obs-studio/profiler_data
.config/obs-studio/updates
.config/OpenTabletDriver/daemon.log
.config/nvim/plugin
.config/nvim/undo/*
.config/nvim_old
.config/vim/autoload
.config/vim/plugged
.config/zsh/history
.config/zsh/plugins

.local/bin/*

.local/share/X11/xkb/symbols/alpha-dvorak
